# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Local configuration file
local.properties

# Android Studio
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE
*.iml
*.iws
*.ipr

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Build
*.log